<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="name.kghost.android.lyrics" android:installLocation="preferExternal"
	android:versionCode="1" android:versionName="1.0">
	<application android:label="@string/app_name" android:icon="@drawable/icon">
		<activity android:name=".LyricsActivity" android:label="@string/app_name"
			android:launchMode="singleInstance">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".LyricsPreferences" android:label="@string/app_preferences"
			android:launchMode="singleInstance">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.PREFERENCE" />
			</intent-filter>
		</activity>
	</application>
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>
